<ion-view >

  <ion-content class="has-header has-subheader" padding="true">
    <ion-list >
      <ion-item ng-repeat="chat in chats" class="item item-avatar">
        <img src="{{chat.face}}">
         <h2>{{chat.name}}</h2>
         <p>{{chat.lastText}}</p>
                <span class="item-note">{{chat.time}}</span>
          </ion-item>
    </ion-list>

  </ion-content>
  </ion-view>
