
<ion-view hide-nav-bar="true">
  <ion-header-bar align-title="left" class="bar-balanced">
  <h1 class="title">{{user.name}}</h1>
  <div class="buttons">
    <button class="button"><i class="icon ion-android-search"></i> </button>
    <button class="button"><i class="icon ion-android-add-circle"></i> </button>
  </div>
</ion-header-bar>

<ion-tabs class="tabs-balanced tabs-icon-left ">
    <ion-tab  title="Ripples" icon="ion-radio-waves" href="#/tabs/activity">
        <ion-nav-view name="activity"></ion-nav-view>
    </ion-tab>
    <ion-tab  title="Waves" icon="ion-ios-pulse-strong" href="#/tabs/waves">
        <ion-nav-view name="waves"></ion-nav-view>
    </ion-tab>
    <ion-tab title="Contacts" icon="ion-android-contact" href="#/tabs/contacts">
        <ion-nav-view name="contacts"></ion-nav-view>
    </ion-tab>
</ion-tabs>
</ion-view>
