<ion-view >
    <ion-content class="has-header has-subheader" padding="true">
        <ion-list >
          <ion-item ng-repeat="wave in waves" class="item item-avatar"  href="#/wave/{{wave.id}}/chat">
        <img src="{{wave.face}}">
         <h2>{{wave.name}}</h2>
            <span class="item-note w3-badge w3-green" >{{wave.messages}}</span>
         <p>{{wave.lastText}}</p>
          <span class="item-note">{{wave.time}}</span>
               <i class="icon ion-social-usd assertive"></i>  &nbsp;<i class="icon ion-information-circled"></i> &nbsp;

          </ion-item>
        </ion-list>
    </ion-content>
</ion-view>
