<ion-view class="bar-balanced" hide-nav-bar="true">
  <ion-header-bar align-title="center" class="bar-balanced ">
  <div class="buttons">
    <a class="button" href="#/tabs/waves"><i class="icon ion-ios-undo"></i> </a>
  </div>
  <h1 class="title" style="font-size: 20px;"><b><i class="icon ion-ionic"></i> &nbsp;{{wave.name}}</b></h1>

</ion-header-bar>




<ion-header-bar align-title="center" on-swipe-down="onSwipeDown()" class="bar-balanced has-header" style="top:35px;">
  <div class="buttons">
    <a class="button" ><i class="icon ion-social-usd"></i> </a> <a class="button"><i class="icon ion-information-circled"></i></a>
  </div>
  <h1 class="title" style="margin-top: 11px;"><a class="" ><i class="icon ion-ios-arrow-down"></i> </a>  </h1>
<div class="buttons">
  <a class="button" href="#/wave/{{wave.id}}/cat" ><i class="icon ion-merge"></i> </a>
</div>
</ion-header-bar>


  <div class="loader-center" ng-if="!doneLoading">
          <div class="loader">
            <i class="icon ion-loading-c"></i>
          </div>
      </div>

        <ion-content has-bouncing="true" class="has-header has-subheader has-footer"
            delegate-handle="userMessageScroll">

            <div ng-repeat="message in chats" class="message-wrapper"
                on-hold="onMessageHold($event, $index, message)">

                <div ng-if="user.id !== message.user.id">
                  <img class="profile-pic left"
                        ng-src="{{message.user.face}}" onerror="onProfilePicError(this)" />

                    <div class="chat-bubble left">
                      <span class="bold">{{message.user.name}}</span>
                        <div class="message" ng-bind-html="message.text" autolinker>
                        </div>

                        <div class="message-detail">
                            <span am-time-ago="message.date"></span>
                        </div>

                    </div>
                </div>

                <div ng-if="user.id === message.user.id">

                     <img class="profile-pic right"
                        ng-src="{{message.user.face}}" onerror="onProfilePicError(this)" />

                    <div class="chat-bubble right">
                        <div class="message" ng-bind-html="message.text" autolinker>
                        </div>

                        <div class="message-detail">
                            <span am-time-ago="message.date"></span>
                        </div>

                    </div>

                </div>

                <div class="cf"></div>

            </div>
        </ion-content>

        <form name="sendMessageForm" ng-submit="sendMessage(sendMessageForm)" novalidate>
            <ion-footer-bar class="bar-stable item-input-inset message-footer" keyboard-attach>
                <label class="item-input-wrapper">
                    <textarea ng-model="inputmessage" value="" placeholder="Send a message..." required minlength="1" maxlength="1500" msd-elastic></textarea>
                </label>
                <div class="footer-btn-wrap">
                  <button class="button footer-btn" type="submit"
                      ng-disabled="!inputmessage || inputmessage === ''"><i class="icon ion-android-send"></i>
                  </button>
                </div>
            </ion-footer-bar>
        </form>


<!--<ion-content class="has-header" padding="true">
  <ion-list >
    <ion-item ng-repeat="chat in chats" class="item item-avatar">
      <img src="{{chat.face}}">
       <h2>{{chat.name}}</h2>
       <p>{{chat.lastText}}</p>
              <span class="item-note">{{chat.time}}</span>
        </ion-item>
  </ion-list>

</ion-content>-->
</ion-view>
