<ion-view class="bar-balanced" hide-nav-bar="true">
  <ion-header-bar align-title="center" class="bar-balanced ">
  <div class="buttons">
    <a class="button" href="#/wave/{{wave.id}}/cat"><i class="icon ion-ios-undo"></i> </a>
  </div>
  <h1 class="title" style="font-size: 20px;"><b><i class="icon ion-ionic"></i> &nbsp;{{wave.name}}</b></h1>
  <div class="buttons">
    <a class="button" ><i class="icon ion-plus-circled"></i> </a>
  </div>

</ion-header-bar>
    <ion-content class="has-header has-subheader item-icon-left item-icon-right" padding="true">
        <ion-list >
          <ion-item ng-repeat="task in tasks" class="item item-avatar"  >
          <i class="icon {{task.lefticon}}"></i>
         <h2>{{task.name}}</h2>
         <i class="icon {{task.righticon}}"></i>
          </ion-item>
        </ion-list>
    </ion-content>
</ion-view>
