<ion-side-menus enable-menu-with-back-views="false">
  <ion-side-menu-content>
    <ion-nav-bar class="bar-stable">
      <ion-nav-back-button>
      </ion-nav-back-button>

      <ion-nav-buttons side="left">
        <button class="button button-icon button-clear ion-navicon" menu-toggle="left">
        </button>
      </ion-nav-buttons>
    </ion-nav-bar>
    <ion-nav-view name="menuContent"></ion-nav-view>
  </ion-side-menu-content>

  <ion-side-menu side="left">
    <ion-header-bar class="bar-stable bar-assertive ">

        <h1 class="title"> <i class="icon ion-person"></i>   {{username}}</h1>
    </ion-header-bar>
    <ion-content>
      <ion-list class="item-borderless">
        <ion-item menu-close ui-sref="app.{{menu.state}}" style="background-color:none;" ui-sref-active="active assertive" ng-repeat="menu in menulist" class="item item-icon-left item-borderless" href="#/app/{{menu.path}}">
           <i class="icon {{menu.icon}}"></i>
          {{menu.title}}
        </ion-item>
      </ion-list>
    </ion-content>
  </ion-side-menu>
</ion-side-menus>
