<ion-view view-title="MyTasks">
  <ion-nav-buttons side="right">
         <button class="button button-assertive" ng-click = "showTaskForm()">
          <i class="icon ion-plus-circled" > </i>
         </button>
       </ion-nav-buttons>
  <ion-content>
    <ion-list>
      <ion-item ng-repeat="task in tasklist"  href="#/app/tasks/{{task.id}}">
          <p><b>{{task.title}} ({{task.subtask}})</b></P>
           <i class="icon ion-ios-people" style="color:green;"> </i> &nbsp; <i class="ion-social-usd assertive"></i>  &nbsp;<i class="icon ion-information-circled"></i> &nbsp; <i class="ion-android-alarm-clock"></i>
      </ion-item>
    </ion-list>
  </ion-content>
</ion-view>
